<%- include("partials/header.ejs") %>

<div class="d-flex justify-content-center mb-2">
    <img src="images/BINIzone.jpg" alt="Bini Zone" style= "width: 30%;">
</div>

<div class="col-12 d-flex flex-wrap-reverse">
    <div class="col-lg-4 col-md-12 welcome">
        <h3 class="mb-0 mt-4" style="color: #4ddde0; font-weight: bold;">2, 3...</h3>
        <h1 class="mabuhay-text">Mabuhay!</h1>
        <a class="create-button" href="/compose">Create Post</a>
    </div>
    <img class="col-lg-8 col-sm-12 home-img" src="images/BINI-Group1.jpg" alt="">
</div>

<div class="music&perf">
    <h2 class="music-text">Music</h2>
</div>

<%- include("partials/footer.ejs") %>