@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.tangerine-bold {
font-family: "Tangerine", cursive;
font-weight: 700;
font-style: normal;
}

.navbar {
    max-width: 100% !important;
    position: sticky !important;
    top: 0;
}

.post-logo-button {
    position: fixed !important;
    top: 0;
    width: 100% !important;
    display: flex;
    justify-content: center;
    background-color: #f1ffff;
}

.nav-bar {
    background-color: #4ddde0;
}

.nav-link {
    color: #f1ffff !important;
}

.nav-link.active {
    color:#ff808c !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #a26ee7 !important;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e2fdff;
    width: 100%;
}

.mabuhay-text {
    font-size: 5em;
    font-weight: bold;
    color: #ff7e9c;
}

.create-button {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 8px 40px;
    border-radius: 8px;
    border: none;
    background-color: #4bfff6;
    color: #3b2745;
    font-weight: bold;
    text-decoration: none;
}

.create-button:hover {
    background-color: #b388eb;
    color: #ffff;
}

.home-img {
    width: 100%;
}

.music, .performances, .fashionConcepts, .biniPlus {
    background-color: #f5f6fa;
}
.category-text {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ff6f91;
}

.blogPosts-container {
    width: 100%;
}

.blogPost-content {
    margin: 15px;
    background-color: #b0f2f3;
    min-height: 450px;
    max-height: fit-content;
    border-radius: 10px;
    padding: 15px;
}


.blogPost-content:hover {
    border: 2px solid #5bd1d7;
    background-color: #eed0ec;
    margin: 13px;
    cursor: pointer;
}

.testPost {
    background-image: url('/images/post-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.full-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.full-post {
    width: 50%;
}

.post-content img {
    width: 100%;     
    height: auto;        
    border-radius: 8px;
    display: block;
    margin: 1rem auto;
}

.post-title {
    text-align: center;
}

.backToHome {
    padding: 5px 10px;
    background-color: #892fff;
    color: #ffff;
    text-decoration: none;
}

.backToHome:hover {
    background-color: #4bfff6;
    color: #4f07ad;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .mabuhay-text {
        font-size: 4em;
    }

    .full-post {
        width: 70%;
    }
}

@media (min-width: 451px) and (max-width: 991px) {
    .full-post {
        width: 75%;
    }
}

@media (max-width: 450px) {
    .mabuhay-text {
        font-size: 3em;
    }

    #next, #cancel {
        font-size: 13px;
        width: 70px !important;
        height: 40px;
        padding: 5px 15px !important;
    }

    .full-post {
        width: 80%;
    }
}



/* --------------compose.ejs----------------- */
.hidden {
    display: none; 
}

.compose-body {
    background-image: url('/images/binizone-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

.compose-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto; /* center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); 
    padding: 2rem 1rem;
    box-sizing: border-box;
}

#form1 {
    background-color: #ffdbf9e4 ;
    border: 3px solid #2b1b33;
    border-radius: 15px;
    padding: 60px 30px;
    width: 100%;
}

#form2 {
    background-color: #e8fffdef ;
    border: 3px solid #2b1b33;
    border-radius: 15px;
    padding: 20px 30px;
    padding-top: 20px;
    width: 100%;
}

.new-post {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #2b1b33;
}

#category {
    width: 50%;
    padding: 8px;
    padding-right: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #4bfff6;
    color: rgb(115, 61, 93);
    cursor: pointer;
}

#category option {
    background-color: #f6f6f6c0;
    color: #2b1b33;
    font-weight: normal;
    border: none;
}

#title {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
}

#cancel {
    width: 115px;
    height: 40px;
    padding: 5px 30px;
    border-radius: 8px;
    border: 1px solid rgb(251, 100, 100);
    background-color: #cefffd;
    margin-top: 35px;
}

#next {
    width: 115px;
    height: 40px;
    padding: 5px 30px;
    border-radius: 8px;
    border: none;
    background-color: #4bfff6;
    color: #2b1b33;
    font-weight: bold;
    margin-top: 35px;
}

#next:hover {
    background-color: #892fff;
    color: #ffff;
}

#cancel:hover {
    background-color: #ff4c4c;
    color: #ffff;
}

#finalCategory {
    color: #2b1b33;
}

.upload-btn {
    width: 120px;
    height: 35px;
    padding: 3px 25px;
    border-radius: 8px;
    border: none;
    background-color: #ac6cff;
    color: #ffff;
    font-weight: bold;
    margin-top: 15px;
}

.back-btn {
    width: 120px;
    height: 35px;
    padding: 3px 25px;
    border-radius: 8px;
    border: none;
    background-color: #ff5c82;
    color: #ffff;
    font-weight: bold;
    margin-top: 15px;
}

.upload-btn:hover {
    background-color: #00e3ef;
    color: #2b1b33;
}

.back-btn:hover {
    background-color: #00e3ef;
    color: #2b1b33;
}

.postSuccess {
    width: 50%;
    background-color: #ed51f0eb;
    padding: 50px 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: 3px solid #2b1b33;
}

#okay {
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #4bfff6;
    border: none;
    font-weight: bold;
}

#okay:hover {
    background-color: #faff5b;
}